<h1>Resultados <small>{{terminoBuscar}}</small></h1>
<div *ngIf="nroResultados==0" class="animated fadeIn fast">
  <div class="alert alert-primary" role="alert">
    No existen resultados para: '{{terminoBuscar}}'
  </div>
</div>

<div class="card-columns">
  <div class="card animated fadeIn fast" *ngFor="let heroe of heroes; let i = index">
    <img src="{{heroe.img}}" class="card-img-top" alt="{{heroe.nombre}}">
    <div class="card-body">
      <h5 class="card-title">{{heroe.nombre}}</h5>
      <p class="card-text">{{heroe.bio}}</p>

      <button (click)="verHeroe(heroe.id)" type="button" class="btn btn-outline-primary btn-block">Ver mas...</button>

      <!--
      <a class="btn btn-outline-primary" [routerLink]="['/heroe','i']"> Ver mas...</a>
      -->
      <p class="card-text"><small class="text-muted">Aparición: {{heroe.aparicion}}</small></p>
    </div>
  </div>

</div>

