<h2 class="animated fadeIn fast">Sobre Heroes</h2>

<div class="animated fadeIn">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut illo, odio. Ducimus earum esse nostrum qui quia
    tenetur
    vel voluptatibus. Debitis enim esse iste natus officia provident quisquam saepe, tempora.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad corporis dolorem eaque eius ex, expedita,
    illum inventore iste laboriosam minus natus neque quae quaerat qui quidem quod similique temporibus voluptates.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores autem, beatae consequuntur deserunt enim
    excepturi
    expedita, explicabo ipsum iste iure obcaecati optio, provident quis! Dolor ducimus illo laboriosam nihil
    possimus!</p>
</div>
